<div class="skills-container">
  <div class="container py-3">
    <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Compétences</div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_work.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <% comms = Skill.where(category: "Communication") %>
          <h1><%= comms.first.category %></h1>
          <% comms.each do |com| %>
            <p><%= com.name %></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_connect.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <% techs = Skill.where(category: "Technologies") %>
          <h1><%= techs.first.category %></h1>
          <% techs.each do |tech| %>
            <p><%= tech.name %></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "gallery.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <% softs = Skill.where(category: "Soft Skills") %>
          <h1><%= softs.first.category %></h1>
          <% softs.each do |soft| %>
            <p><%= soft.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
