<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="container">
  <%= render 'shared/experiences' %>
</div>
<%= render 'shared/skills' %>
<%= render 'shared/new-message' %>
<%= render 'shared/footer' %>
